:root {
  --purple-hsl: 230, 85%, 60%;
}

:root[data-theme=light] {
  --purple-hsl: 225, 80%, 70%;
}

[data-has-hero] .page {
  --purple-hsl: 225, 80%, 70%;
  --overlay-blurple: hsla(var(--purple-hsl), .2);
  background: linear-gradient(215deg,var(--overlay-blurple),transparent 40%),radial-gradient(var(--overlay-blurple),transparent 40%) no-repeat -60vw -40vh / 105vw 200vh,radial-gradient(var(--overlay-blurple),transparent 65%) no-repeat 50% calc(100% + 20rem) / 60rem 30rem;
}

[data-has-hero] header {
  border-bottom: 1px solid transparent;
  background-color: transparent;
  backdrop-filter: blur(16px);
}

.card {
  border-radius: 8px;
}